dallinger[docker] @ git+https://github.com/Dallinger/Dallinger.git@42bd7e54fa75975660ca92b6d02ceaacc710f61f
psynet[experiment] @ git+https://gitlab.com/PsyNetDev/PsyNet.git@7e0c52c3135476ca721d648ea866041423d1e6e6
praat-parselmouth
scipy
