{% macro colour_box(id, colour) %}
    <div
        id="{{ id }}"
        class="colour_box response submit"
        style="background-color: {{ colour }};"
    ></div>
{% endmacro %}

{% macro colour_2afc(config) %}
    <style>
        .colour_box_container {
            display: flex;
            justify-content: center;
        }
        .colour_box {
            width: 100px;
            height: 100px;
            margin: 30px;
            border-style: solid;
            border-color: black;
        }
        .colour_box_disabled {
            opacity: 0.5;
        }
    </style>

    <div class="colour_box_container">
        {{ colour_box("0", config.colours[0]) }}
        {{ colour_box("1", config.colours[1]) }}
    </div>

    <script>
        $( ".colour_box" ).on("click", function() {
            $(this).addClass("colour_box_disabled");
            var answer = this.id;
            psynet.next_page(answer);
        })
    </script>

{% endmacro %}