{% extends "slider-page.html" %}

{% block main_body %}
    <style>
        .main_div {
            background-color: white;
            padding: 30px;
        }
        .colour_box_container {
            display: flex;
            justify-content: center;
        }
        .colour_box {
            width: 200px;
            height: 200px;
            margin: 30px;
            border-style: solid;
            border-color: black;
        }
    </style>

    {% for dimension, value in hidden_inputs.items() %}
        <input type="hidden" value="{{ value }}" id="{{ dimension }}">
    {% endfor %}

    <div class="colour_box_container">
        <div class="colour_box response"></div>
    </div>

    {{ super() }}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function pad(n) {
            return (n.length < 2) ? "0" + n : n;
        }

        // Set the color
        on_slider_event = function (event_type) {
            psynet.log.debug("Updating slider background");
            var hue = parseInt(document.getElementById('hue').value, 10),
                saturation = parseInt(document.getElementById('saturation').value, 10),
                lightness = parseInt(document.getElementById('lightness').value, 10),
                hsl = "hsl(" + hue + ", " + saturation + "%, " + lightness + "%)";
            $(" .colour_box ").css("background-color", hsl);
        };

        document.addEventListener("load", on_slider_event);
    </script>
{% endblock %}