<style>
    .main-body {
        background-color: white;
        padding: 30px;
    }
    .color-box-container {
        display: flex;
        justify-content: center;
    }
    .color-box {
        width: 200px;
        height: 200px;
        margin: 0px;
        border-style: solid;
        border-color: black;
        background-color: white;
    }
</style>


<div class="color-box-container">
    <div class="color-box" id="color-box"></div>
</div>

{% for color, value in params.template_args.hidden_inputs.items() %}
    <input type="hidden" value="{{ value }}" id="{{ color }}">
{% endfor %}

<script>
    function pad(n) {
        return (n.length < 2) ? "0" + n : n;
    }

    function updateSliderBackground() {
        psynet.log.debug("Updating slider background");
        var rHex = parseInt(document.getElementById('red').value, 10).toString(16),
            gHex = parseInt(document.getElementById('green').value, 10).toString(16),
            bHex = parseInt(document.getElementById('blue').value, 10).toString(16),
            hex = "#" + pad(rHex) + pad(gHex) + pad(bHex);
        document.getElementById('color-box').style.backgroundColor = hex;
    }

    updateSliderBackground();
    onSliderEvent = updateSliderBackground;
</script>
