{% extends "timeline-page.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/consent.css"/>
{% endblock %}

{% block main_body %}
  <div class="main-div" style="padding-bottom: 200px;">
    <h1>{{ pgettext("consent-title", "We need your consent to proceed") }}</h1>
    <hr>
    <div class="text-justify">
        <div class="text-left" style="font-size:18px">
            {{ consent.overview(config) }}
            {{ consent.purpose(config) }}
            {{ consent.procedure(config) }}
            {{ consent.voluntary(config) }}
            <h4>{{ pgettext("consent-confidentiality", "Confidentiality") }}</h4>
            <p class="consent-text">
                {{ pgettext("consent-confidentiality", "No personal identifiers (e.g. your name or contact data) will be collected or used at any stage of the experiment.") }}
                {{ pgettext("consent-confidentiality", "Thus, the experimental data is anonymous.") }}
                {{ pgettext("consent-confidentiality", "We may collect some demographic data (e.g. age, gender, country of residence) as well as information about your learning and exposure history (e.g. musical experience playing an instrument, years of formal education, languages spoken).") }}
            </p>
            <p class="consent-text">
                {{ pgettext("consent-confidentiality", "If an experiment is collecting data that cannot be fully anonymized, we will inform you and also ask for additional consent.") }}
                {{ pgettext("consent-confidentiality", "Consenting to these additional requirements is also fully voluntary.") }}
                {{ pgettext("consent-confidentiality", "These include experiments where we make audio-visual recordings or where we need your contact details to contact you in the future to take another experiment.") }}
            </p>
            <p class="consent-text">
                {{ pgettext("consent-confidentiality", "All of the information we obtain during the research will be kept confidential.") }}
                {{ pgettext("consent-confidentiality", "We will only save your anonymized alpha numeric code in our system, in order to distinguish participants who have already taken part in this or other experiments.") }}
                {{ pgettext("consent-confidentiality", "This code will not be used to derive your real identity, will not be shared with anyone outside of the research team and will be deleted after use.") }}
                {{ pgettext("consent-confidentiality", "Although researchers will not use your alpha numeric code to derive your real identity, this record could be linked in some cases to your public profile page if a data breach takes place.") }}
                {{ pgettext("consent-confidentiality", "Thus, you may wish to restrict what information you choose to share publicly.") }}
            </p>
            <h4>{{ pgettext("consent-collaborations", "Research collaborations") }}</h4>
            <p class="consent-text">
                {{ pgettext("consent-collaborations", "For the purpose of helping scientific progress and replication, sometimes we may share the data with research collaborators.") }}
                {{ pgettext("consent-collaborations", "In these cases, we will only share fully anonymized data, such as demographic, aggregated, or extracted data without any personal identifiers.") }}
            </p>
            {{ consent.security(config) }}
            {{ consent.risks(config) }}
            {{ consent.benefits(config) }}
            {{ consent.rights(config) }}
            {{ consent.contact(config) }}
            {{ consent.consent(config) }}
        </div>
        {{ consent.fixed_buttons(config) }}
      </div>
  </div>
{% endblock %}
