{% extends "psynet_layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <style>
        /* This page is shown in a small popup, so it deliberately does not use
           the content surface: its padding and margins pushed the buttons below
           a popup viewport that cannot be scrolled. There is no footer here
           either, so no clearance is needed. */
        body {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container my-4">
      <div>
        <div class="col-auto">
          <img id="adlogo" src="/static/images/logo.png" alt="Psynet logo" style="width: 150px; float: left;">
        </div>
        <h1 id="header" style="clear: both;">{{ pgettext("abort_possible", "Are you sure you want to abort the experiment?") }}</h1>
        <hr>
        <p>
          {{ pgettext("abort_possible", "If you click the Abort button, the experiment will end early, and you will be automatically paid the compensation you have earned so far.") }}
            {{ pgettext("abort_possible", "Please only contact us if you have trouble receiving your payment.") }}
            {{ pgettext("abort_possible", "See the information below for details of your compensation.") }}
        </p>
        <table class="table table-sm table-striped">
            <tbody>
              <tr><th>{{ gettext("Assignment ID") }}</th><td>{{ participant_abort_info.assignment_id }}</td></tr>
              <tr><th>{{ gettext("HIT ID") }}</th><td>{{ participant_abort_info.hit_id }}</td></tr>
              <tr><th>{{ gettext("Accumulated reward") }}</th><td>{{ participant_abort_info.accumulated_reward }}</td></tr>
            </tbody>
        </table>
        {# A flex row rather than opposing floats: uncleared floats can put
           the buttons beyond reach of a click in a small popup window. #}
        <div class="d-flex flex-wrap justify-content-between gap-2 mt-3">
          <button type="button" id="close-button" class="btn btn-primary btn-lg" onclick="window.close();">
            {{ gettext("Close window") }}
          </button>
          <button type="button" id="abort-button" class="btn btn-danger btn-lg" onclick="setAborted('{{ participant_abort_info.assignment_id }}');">
            {{ gettext("Abort experiment") }}
          </button>
        </div>
      </div>
    </div>
    <script>
      setAborted = function(assignmentId) {
        fetch("/set_participant_as_aborted/" + assignmentId)
          .then(function () {
            dallinger.submitAssignment();
          });
      }
    </script>
{% endblock %}
