{% extends "psynet_layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <style>
        /* This page is shown in a small popup, so it deliberately does not use
           the content surface: its padding and margins pushed the buttons below
           a popup viewport that cannot be scrolled. There is no footer here
           either, so no clearance is needed. */
        body {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container my-4">
      <div>
        <div class="col-auto">
          <img id="adlogo" src="/static/images/logo.png" alt="Psynet logo" style="width: 150px; float: left;">
        </div>
        <h1 id="header" style="clear: both;">{{ pgettext("abort_possible", "Aborting not possible.") }}</h1>
        <hr>
        <p>
          {{ pgettext("abort_possible", "Aborting the experiment is not possible as the experimenter does not allow it at this time!") }}
            {% set CURRENCY = config.currency %}
            {% set MIN_ACCUMULATED_REWARD_FOR_ABORT = "{:.2f}".format(config.min_accumulated_reward_for_abort) %}
            {% trans name="abort_possible" %}You have to accumulate <strong>at least {{ CURRENCY }}{{MIN_ACCUMULATED_REWARD_FOR_ABORT}}</strong> of reward to be able to be compensated.{% endtrans %}
           {{ pgettext("abort_possible", "See below information on your currently accumulated reward.") }}
        </p>
        <table class="table table-sm table-striped">
            <tbody>
              <tr><th>{{ gettext("Assignment ID") }}</th><td>{{ participant_abort_info.assignment_id }}</td></tr>
              <tr><th>{{ gettext("HIT ID") }}</th><td>{{ participant_abort_info.hit_id }}</td></tr>
              <tr><th>{{ gettext("Accumulated reward") }}</th><td>{{ participant_abort_info.accumulated_reward }}</td></tr>
            </tbody>
        </table>
        {# A flex row rather than a float, so the button stays in flow.
           See abort_possible.html. #}
        <div class="d-flex flex-wrap gap-2 mt-3">
          <button type="button" id="close-button" class="btn btn-primary btn-lg" onclick="window.close();">
            {{ gettext("Close window") }}
          </button>
        </div>
      </div>
    </div>
{% endblock %}

