{% extends "psynet_layout.html" %}

{% block body %}
    <div id="container">
      <div style="max-width: max-content;">
        <div class="col-xs-2">
          <img id="adlogo" src="/static/images/logo.png" alt="Psynet logo" style="width: 150px; float: left;">
        </div>
        <h1 id="header" style="clear: both;">{{ pgettext("header", "Thank you for your interest in this study") }}</h1>
        <hr>
        <p>
          {{ pgettext("aborted_already", "Unfortunately our automatic checks indicate that your technical setup is not compatible with this experiment's requirements. As a result, I'm afraid you won't be able to continue with the experiment. Please return your submission.") }}
        </p>
        <button type="button" id="close-button" class="btn btn-primary btn-lg" style="float: left; margin-top: 15px;" onclick="window.close();">
          {{ gettext("Close window") }}
        </button>
      </div>
    </div>
{% endblock %}
