{% extends "base/dashboard.html" %}
{% block scripts %}
    <script src="/static/scripts/d3/d3.v4.js"></script>
    <script src="/static/scripts/d3/d3-tip.min.js"></script>
    <script src="/static/scripts/d3/visualizations.js"></script>
{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/static/scripts/d3/d3-tip.css">

{% endblock %}
{% block body %}
    <style>

    </style>
    <h1>{{ title }}</h1>

    {{ html | safe}}

{% endblock %}
{% block libs %}
    {{ super() }}
{% endblock %}
