{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div>
            <h1>Error!</h1>
            <hr>
            <div>
                <p id="error-text">{{ error_text }}</p>
                <p>
                    There is no need to contact us to receive the compensation.
                    Typically, you will receive a bonus with your compensation
                    within a few minutes after completing the experiment.
                    If this is not the case, please contact us to enquire about compensation.
                    Also, contact the researcher at
                    <a href="mailto:{{contact_address}}">{{contact_address}}</a>
                    and quote the following information:
                </p>
                <p>
                    Error type: {{ error_type }}<br>
                    HIT id: {{ hit_id }}<br>
                    Assignment id: {{ assignment_id }}<br>
                    Worker id: {{ worker_id }}<br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
