{% extends "psynet_layout.html" %}

{% block stylesheets %}
    <style>
      body {
          padding:0px;
          margin: 0px;
          background-color: white;
          color: black;
          font-weight: 300;
          font-size: 13pt;
      }

      #adlogo {
          float: right;
          width: 140px;
          padding: 2px;
          border: none;
      }

      #container {
          position: absolute;
          top: 0px; /* Header Height */
          bottom: 0px; /* Footer Height */
          left: 0px;
          right: 0px;
          padding: 100px;
          padding-top: 5%;
          border: 18px solid #f3f3f3;
          background: white;
      }
    </style>
{% endblock %}

{% block body %}
    <div id="container">
      <div>
        <h1>Lucid Survey Submission</h1>
        <hr>
          <p>Completing survey...</p>
          <noscript>
            Click the button below to return to Lucid Marketplace.
            <p>
            <form method="GET" action="{{ external_submit_url|safe }}">
              <input type="submit" class="btn btn-primary btn-lg" value="Close">
            </form>
          </p>
          </noscript>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    window.location = "{{ external_submit_url|safe }}";
</script>

{% endblock %}
