{% extends "timeline-page.html" %}

{% block main_body %}
    {{ pgettext("final_page_successful", "That's the end of the experiment. Thank you for taking part!") }}
    <p class="vspace"></p>
    <button type="button" id="next-button" class="btn btn-primary btn-lg">{{ gettext("Finish") }}</button>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {% if experiment.with_recruiter("lucid") %}
            submitAssignment();
        {% else %}
            function reward_participant() {
              window.location = '/reward_participant?unique_id={{unique_id}}';
            }
            document.getElementById("next-button").onclick = reward_participant;
        {% endif %}
    </script>
{% endblock %}
