{% extends "timeline-page.html" %}

{% block main_body %}
    {{ pgettext("final_page_rejected_consent", "Consent was rejected.") }}
    {{ pgettext("final_page_rejected_consent", "End of experiment.") }}
    {% if not experiment.with_recruiter("lucid") %}
        <p class="vspace"></p>
        <p>
            {% if experiment.with_recruiter("mturk") %}
                {{ gettext('Please click "Finish" to complete the HIT.') }}
            {% elif experiment.with_recruiter("prolific") %}
                {{ gettext('Please click "Finish" to complete the survey.') }}
            {% else %}
                {{ gettext('Please click "Finish" to complete the experiment.') }}
            {% endif %}
        </p>
        <p class="vspace"></p>
        <button type="button" id="next-button" class="btn btn-primary btn-lg">{{ gettext("Finish") }}</button>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function finish() {
          submitAssignment();
        }
        {% if experiment.with_recruiter("lucid") %}
            finish();
        {% else %}
            document.getElementById("next-button").onclick = finish;
        {% endif %}
    </script>
{% endblock %}
