{% if not experiment.with_lucid_recruitment() %}
{% set BASE_PAYMENT = "%.2f"|format(participant.base_payment) %}
{% set EXTRA_REWARD = "%.2f"|format(experiment.bonus(participant)) %}
{% set TOTAL_REWARD = "%.2f"|format(participant.calculate_reward()) %}
{% set CURRENCY = config.currency %}
<br><br>
{% trans name="final-page-rewards" %}You will receive a <strong>total reward of {{ CURRENCY }}{{ TOTAL_REWARD }}</strong> which consists of {{ CURRENCY }}{{ BASE_PAYMENT }} as base payment plus an extra reward of {{ CURRENCY }}{{ EXTRA_REWARD }}{% endtrans %}.
{% endif %}
<br>
