{% extends "timeline-page.html" %}

{% macro make_buttons(buttons, arrange_vertically) %}
<div>
    {% for x in buttons %}
        {% if arrange_vertically %}
            <div style="padding:1em">
        {% endif %}
            {{make_button(x)}}
        {% if arrange_vertically %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}

{% macro make_button(x) %}
    {% if x.own_line %} <p> {% endif %}
    <button type="button"
            class="btn btn-primary submit"
            id="{{ x.id }}"
            {% if x.start_disabled %}
                disabled="false"
            {% endif %}
            onClick="clicked_button(this.id);"
            style="min-width: {{ x.min_width }}">
    {{ x.label }}
    </button>
    {% if x.own_line %} </p> {% endif %}
{% endmacro %}

{% block main_body %}
    {{super()}}
    <div>
        <div class="row">
            <div class="col">
                {{prompt}}
            </div>
        </div>

        <div class="row" style="margin-top: 50px">
            {{make_buttons(buttons, arrange_vertically)}}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        clicked_button = function(id) {
            psynet.response.disable();
            psynet.submit.disable();
            psynet.next_page(id);
        }
    </script>
{% endblock %}
