{% extends "layout.html" %}

{% macro make_questions(questions) %}
    {% for q in questions %}
        <div style="padding:1em">
            {{make_question(q)}}
        </div>
    {% endfor %}
{% endmacro %}

{% macro make_question(x) %}
    {% if x.type == "dropdown" %}
        {{ dropdown(x.id, x.question, x.values, x.labels) }}
    {% elif x.type == "info" %}
        <h3>{{ x.info }}</h3>
    {% endif %}
{% endmacro %}

{% macro dropdown(id, question, values, labels) %}
    <div class="row question">
        <div class="col-md-8">{{question}}</div>
        <div class="col-md-4">
            <select id="{{id}}" name="{{id}}" class="questionnaire-field">
                <option value="empty"></option>
                {% for i in range(values | count) %}
                    <option value={{values[i]}}>{{labels[i]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% block body %}
    {{super()}}
    <div class="main-body" id="questionnaire" name="{{name}}" next_page={{next_page}}>
        {% block questions %}
            <form>
                {{ make_questions(questions) }}
            </form>
        {% endblock %}  

        <hr>

        <div class="instructionsnav">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7"></div>
                <div class="col-xs-3"><button type="button" id="submit-questionnaire" class="btn btn-primary btn-lg continue" onclick="attempt_submit()">Continue</button></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    function attempt_submit() {
        const fields = document.querySelectorAll(".questionnaire-field");
        clear = true;
        for (var i = 0; i < fields.length; i ++) {
            if (fields[i].value == "empty") {
                clear = false;
                alert("Please complete all questions before continuing.");
                break;
            }
        }
        if (clear) {
            var x = document.getElementById("questionnaire");
            var name = x.getAttribute("name");
            var next_page = x.getAttribute("next_page")
            submit_responses(name, next_page = next_page);
        }
    }

    submit_responses = function (questionnaire_name, next_page = "") {
        when_done = function() {
            if (next_page == "") {
                dallinger.submitAssignment();
            } else {
                dallinger.goToPage(next_page);
            }
        }

        var formSerialized = $("form").serializeArray(),
        spinner = dallinger.BusyForm(),
        formDict = {},
        xhr;

        formSerialized.forEach(function (field) {
            formDict[field.name] = field.value;
        });

        xhr = dallinger.post('/question/' + dallinger.identity.participantId, {
            question: questionnaire_name,
            number: 1,
            response: JSON.stringify(formDict)
        });
        spinner.freeze([$('form :input')]);
        xhr.done(when_done)
        xhr.always(function () { spinner.unfreeze(); });
  };
  </script>
{% endblock %}
