{% extends "psynet_layout.html" %}

{% block body %}
<div class="main_div">
    <div>
        <div class="col-xs-2">
            <img id="adlogo" src="/static/images/logo.png" alt="PsyNet logo" style="width: 150px; float: left;">
        </div>
        <h1 id="header" style="clear: both;">{{ pgettext("reward_participant_header", "Your reward") }}</h1>
        <hr>
        <div>
            {% set BASE_PAYMENT = "%.2f"|format(participant.base_payment) %}
            {% set BONUS = "%.2f"|format(experiment.bonus(participant)) %}
            {% set CURRENCY = config.currency %}
            {% set TOTAL_REWARD = "%.2f"|format(total_reward) %}
            {% if experiment.with_recruiter("prolific") %}
                {% if total_reward < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_prolific_fail_1", "You did not complete enough of the experiment to receive a payment, sorry. Please return the study.") }}
                {% elif min_accumulated_reward_for_abort <= total_reward < participant.base_payment %}
                    {% trans name="reward_participant_prolific_fail_2" %}You were unable to complete the experiment, but <b>you will still be paid {{CURRENCY}}{{TOTAL_REWARD}}</b> for the time you put in so far.{% endtrans %} {% trans name="reward_participant_prolific_fail_3" %}When you press <b>Next</b>, we will pay you via the bonus mechanism.{% trans name="reward_participant_prolific_fail_4" %} {% trans name="reward_participant_prolific_fail_5" %}Please then return the study.{% endtrans %}
                {% elif total_reward == participant.base_payment %}
                    {% trans name="reward_participant_prolific_success_1" %}When you press <b>Next</b>, your submission will be approved and you will receive the <b>full study payment of {{CURRENCY}}{{TOTAL_REWARD}}</b>.{% endtrans %}
                {% elif total_reward > participant.base_payment %}
                    {% trans name="reward_participant_prolific_success_2" %}When you press <b>Next</b>, your submission will be approved and <b>you will receive the full study payment of {{CURRENCY}}{{BASE_PAYMENT}}</b>.{% endtrans %} {% trans name="reward_participant_prolific_success_3" %}You will also receive an <b>additional bonus of {{CURRENCY}}{{BONUS}}</b>.{% endtrans %}
                {% endif %}
            {% elif experiment.with_recruiter("hotair") %}
                {% if total_reward < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_hotair_fail", "You did not complete enough of the experiment to receive a payment, sorry.") }}
                {% else %}
                    {% trans name="reward_participant_mturk_success" %}You earned a <b>total payment of {{CURRENCY}}{{TOTAL_REWARD}}</b>.{% endtrans %}
                {% endif %}
            {% elif experiment.with_recruiter("mturk") %}
                {% if total_reward < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_mturk_fail", "You did not complete enough of the experiment to receive a payment, sorry. Please return the HIT.") }}
                {% else %}
                    {% trans name="reward_participant_mturk_success" %}When you press <b>Next</b>, your submission will be approved. You will receive a <b>total payment of {{CURRENCY}}{{TOTAL_REWARD}}</b>, which will be paid as a base payment of {{CURRENCY}}{{BASE_PAYMENT}} and a bonus of {{CURRENCY}}{{BONUS}}.{% endtrans %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <p class="vspace"></p>
    <button type="button" id="next-button" class="btn btn-primary btn-lg">{{ gettext("Finish") }}</button>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function finish() {
          submitAssignment();
        }
        {% if experiment.with_recruiter("lucid") %}
            finish();
        {% else %}
            document.getElementById("next-button").onclick = finish;
        {% endif %}
    </script>
{% endblock %}
