{% extends "psynet_layout.html" %}

{% block body %}
<div class="main_div">
    <div>
        <div class="col-xs-2">
            <img id="adlogo" src="/static/images/logo.png" alt="PsyNet logo" style="width: 150px; float: left;">
        </div>
        <h1 id="header" style="clear: both;">{{ pgettext("reward_participant_header", "Your reward") }}</h1>
        <hr>
        <div>
            {% set BASEPAYMENT = "%.2f"|format(base_payment) %}
            {% set BONUS = "%.2f"|format(bonus) %}
            {% set CURRENCY = config.currency %}
            {% set REWARD = "%.2f"|format(reward) %}
            {% set REWARDMINBASEPAYMENT = "%.2f"|format(reward_min_base_payment) %}
            MINACCU: {{min_accumulated_reward_for_abort}}<br>
            BASEPAYMENT: {{BASEPAYMENT}} {{base_payment}}<br>
            REWARD: {{REWARD}} {{reward}} {{REWARD == reward}}<br>
            REWARDMINBASEPAYMENT: {{REWARDMINBASEPAYMENT}} {{reward_min_base_payment}}<br><br>
            {% if experiment.with_recruiter("prolific") %}
                {% if reward == base_payment %}
                    {% trans name="reward_participant_prolific_success_1" %}When you press <b>Next</b>, your submission will be approved and you will receive the full study payment of <b>{{CURRENCY}}{{REWARD}}</b>.{% endtrans %}
                {% elif reward < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_prolific_fail_1", "You did not complete enough of the experiment to receive a payment, sorry. Please return the study.") }}
                {% elif min_accumulated_reward_for_abort <= reward < base_payment %}
                    {% trans name="reward_participant_prolific_fail_2" %}You were unable to complete the experiment, but you will still be paid <b>{{CURRENCY}}{{BASEPAYMENT}}</b> for the time you put in so far.{% endtrans %} {% trans name="reward_participant_prolific_fail_3" %}When you press <b>Next</b>, we will pay you via the bonus mechanism.{% endtrans %} {% trans name="reward_participant_prolific_fail_4" %}Please then return the study.{% endtrans %}
                {% elif reward_min_base_payment > base_payment %}
                    {% trans name="reward_participant_prolific_success_2" %}When you press <b>Next</b>, your submission will be approved and you will receive the full study payment of <b>{{CURRENCY}}{{BASEPAYMENT}}</b>.{% endtrans %} {% trans name="reward_participant_prolific_success_3" %}You will also receive an additional bonus of <b>{{CURRENCY}}{{BONUS}}</b>.{% endtrans %}
                {% endif %}
            {% elif experiment.with_recruiter("hotair") %}
                {% if reward_min_base_payment < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_hotair_fail", "You did not complete enough of the experiment to receive a payment, sorry.") }}
                {% else %}
                    {% trans name="reward_participant_mturk_success" %}You earned a total payment of <b>{{CURRENCY}}{{REWARDMINBASEPAYMENT}}</b>.{% endtrans %}
                {% endif %}
            {% elif experiment.with_recruiter("mturk") %}
                {% if reward_min_base_payment < min_accumulated_reward_for_abort %}
                    {{ pgettext("reward_participant_mturk_fail", "You did not complete enough of the experiment to receive a payment, sorry. Please return the HIT.") }}
                {% else %}
                    {% trans name="reward_participant_mturk_success" %}When you press <b>Next</b>, your submission will be approved. You will receive a total payment of <b>{{CURRENCY}}{{REWARDMINBASEPAYMENT}}</b>, which will be paid as a base payment of <b>{{CURRENCY}}{{BASEPAYMENT}}</b> and a bonus of <b>{{CURRENCY}}{{BONUS}}</b>.{% endtrans %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <p class="vspace"></p>
    <button type="button" id="next-button" class="btn btn-primary btn-lg">{{ gettext("Finish") }}</button>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function finish() {
          submitAssignment();
        }
        {% if experiment.with_recruiter("lucid") %}
            finish();
        {% else %}
            document.getElementById("next-button").onclick = finish;
        {% endif %}
    </script>
{% endblock %}
