{% extends "slider-page.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        var current_sound;

        // Overwrites corresponding method in slider-page.html
        slider.update_log = function() {
            slider.log.push({
                'time': new Date(),
                'value': slider.value,
                'audio': slider.audio
            })
        }

        find_closest_audio = function (slider) {
            var locations = Object.values(sound_locations);
            var nearest = psynet.utils.closest(parseFloat(slider.value), locations);
            var selected_audio = Object.keys(sound_locations)[nearest.index];
            return selected_audio
        };

        play_sound = function () {
            if (current_sound != undefined) {
                current_sound.stop();
            }
            var id = slider.audio
            psynet.log.debug('Playing sound with ID = ' + id);
            current_sound = psynet.audio[id].play();
        };

        on_slider_event = function (event_type) {
            slider.audio = find_closest_audio(slider);
            if (event_type == "initialise") {
                if (autoplay) {
                    play_sound();
                }
            } else if (event_type == "slider_changed") {
                play_sound();
            }
        };
    </script>
{% endblock %}