{% extends "slider-page.html" %}

{% block scripts %}
    {{ super() }}

    <script>
        // This overwrites `create_log_message(message)` from `slider-page.html` and adds the ID to the log
        create_log_message = function (slider_value) {
            var message = {
                'value': slider_value,
                'id': get_id_from_slider_value(slider_value)
            };
            return ({
                'time': new Date(),
                'message': message
            })
        };

        get_id_from_slider_value = function (snapped_value) {
            var locations = Object.values(sound_locations);
            var nearest = psynet.utils.closest(snapped_value, locations);
            var selected_audio = Object.keys(sound_locations)[nearest.index];
            return selected_audio
        };

        play_sound = function () {
            var slider_value = get_slider_value();
            var id = get_id_from_slider_value(slider_value);
            psynet.log.debug('Playing sound with id = ' + id);
            psynet.audio[id].play();
        };

        on_slider_event = function (event_type) {
            if (event_type == "initialise") {
                if (autoplay) {
                    play_sound();
                }
            } else if (event_type == "slider_changed") {
                play_sound();
            }
        };
    </script>
{% endblock %}