{% extends "layout.html" %}

{% block body %}
    {{super()}}

    <div style="margin: 15%">
        <p>
            Starting experiment...
        </p>
    </div>
{% endblock %}


{% block scripts %}
{{super()}}
    <script>
        dallinger.identity.participantId = "undefined";
        dallinger.createParticipant().done(function(resp) {
            setTimeout(function() {
                let participantId = dallinger.identity.participantId;
                let assignmentId = dallinger.identity.assignmentId;
                dallinger.goToPage("timeline/" + participantId + "/" + assignmentId);
            }, 500);
        }).fail(function(resp) {
            dallinger.error(resp);
        });
    </script>
{% endblock %}
