{% extends "layout.html" %}

{% block body %}
    {{super()}}

    <div style="margin: 15%">
        <p>
            Starting experiment...
        </p>
    </div>
{% endblock %}


{% block scripts %}
{{super()}}
    <script>
        dallinger.identity.participantId = "undefined";
        dallinger.createParticipant().done(function(resp) {
            setTimeout(function() {
                let participantId = dallinger.identity.participantId;
                let assignmentId = dallinger.getUrlParameter("assignmentId");
                dallinger.identity.assignmentId = assignmentId; // <-- this is to deal with a recent bug in Dallinger, #2604 https://github.com/Dallinger/Dallinger/issues/2604
                dallinger.goToPage("timeline/" + participantId + "/" + assignmentId);
            }, 500);
        }).fail(function(resp) {
            dallinger.error(resp);
        });
    </script>
{% endblock %}
