{% extends "psynet_layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <style>

    div {
        width: 100%;
        height: 100vh;
    }
    p {
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        top: 50%;
        width: 100%;
        position: absolute;
    }
    </style>
{% endblock %}

{% block body %}
    {{super()}}

    <div class="colorfadeanim">
        <p>
            {{ pgettext("start", "Starting experiment...") }}
        </p>
    </div>
{% endblock %}


{% block scripts %}
{{super()}}
    <script>
        dallinger.identity.participantId = "undefined";
        // Change to 'let uniqueId = dallinger.identity.uniqueId' once the Dallinger is updated to contain dallinger.identity.uniqueId
        let uniqueId = dallinger.identity.workerId + ":" + dallinger.identity.assignmentId;
        dallinger.createParticipant().done(function(resp) {
            setTimeout(function() {
                window.location = "/timeline?unique_id=" + uniqueId;
            }, 500);
        }).fail(function(resp) {
            dallinger.error(resp);
        });
    </script>
{% endblock %}
