{% extends "timeline-page.html" %}

{% macro one_line_input(style) %}
    <div style="{{ style }}">
        <input id="text_input" type="text" class="form-control" value=""/>
    </div>
{% endmacro %}

{% macro multi_line_input(style) %}
    <div>
        <textarea id="text_input" type="text" class="form-control" style="{{ style }}"></textarea>
    </div>
{% endmacro %}

{% block main_body %}
    {{super()}}

    <style>
        #text_input {
            min-width: 500px
        }
    </style>

    <div class="row">
        <div class="col">
            {{prompt}}

            <div style="padding-top:20px; padding-bottom:20px">
                {% if (one_line) %}
                    {{one_line_input(style)}}
                {% else %}
                    {{multi_line_input(style)}}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button type="button" id="submit_button" class="btn btn-primary btn-lg submit" onClick="submit();">Submit</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        submit = function() {
            psynet.response.disable();
            psynet.submit.disable();
            psynet.next_page(document.getElementById("text_input").value);
        }
    </script>
{% endblock %}
