{% extends "layout.html" %}

{% macro next_button() %}
<hr>

<div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <button type="button" id="next_button" class="btn btn-success btn-lg" onClick="psynet.next_page();">Next</button>
    </div>
</div>
{% endmacro %}

{% block body %}
    {% block header %}
        <div class="header">
            {% if progress_bar.show %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar.percentage}}"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{progress_bar.percentage}}%">
                        {{progress_bar.percentage}}%
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    <div class="main_div">
        {% block main_body %}
        {% endblock %}
    </div>

    {% block footer %}
        {% if footer.show %}    
            <nav class="navbar navbar-fixed-bottom" style="padding: 8px; padding-left: 20px; padding-right: 20px; background-color: #4989C8; color: white; margin: 0px; line-height: 33px;">
                <div style="margin: 0px; display: flex; justify-content: space-between; align-items: center;">
                    {% for text in footer.text_to_show %}
                        <div style="margin: 0px">
                            {{text}}
                        </div>
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{super()}}
    
    <script>
        var psynet = (function () {
            /**
            * @namespace
            * @alias psynet
            */
            
            var psi = {};
            
            check_participant_id = function() {
                if (dallinger.identity.participantId == undefined) {
                    alert(
                        "Your participant ID is undefined, perhaps because you " +
                        "switched browsers during the test. " +
                        "Unfortunately this behaviour is not currently supported."
                    );
                    throw console.error("Undefined participant ID.");
                }
            }
            
            psi.init_page = function() {
                check_participant_id();
                psi.page_load_time = new Date();
            }
            
            psi.next_page = function(raw_answer=null, metadata, blobs) {
                submit_generic_response(raw_answer, metadata, blobs, on_success_response, on_error_response);
            }

            on_success_response = function(request) {
                response = JSON.parse(request.response);
                if (response.submission == "approved") {
                    console.log("Response received successfully.");
                    dallinger.goToPage("timeline/" + dallinger.identity.participantId + "/" + dallinger.identity.assignmentId);
                } else if (response.submission == "rejected") {
                    console.log("Response rejected."); 
                    alert(response.message);
                    $(".submit-response").attr('disabled',false);
                } else {
                    throw Error("Received a malformed response.");
                } 
            }

            on_error_response = function(request) {
                dallinger.error({
                    "data": {
                        "participant_id": dallinger.identity.participantId
                    }
                });
            }

            add_blobs = function(form_data, blobs) {
                for (let [key, value] of Object.entries(blobs)) {
                    if (key == "json") {
                        throw Error("Blobs may not be named 'json'.");
                    }
                    form_data.append(key, value);
                }
            }

            prepare_json_submission = function(raw_answer, metadata) {
                var current_time = new Date();
                
                var all_metadata = {
                    // We could add other things like browser information here
                    "time_taken": (current_time - psi.page_load_time) / 1000
                };
                
                if (metadata !== undefined) {
                    for (var x in metadata) {
                        all_metadata[x] = metadata[x];
                    }
                }
                            
                var json = JSON.stringify({
                    "participant_id": dallinger.identity.participantId,
                    "page_uuid": page_uuid,
                    "raw_answer": raw_answer,
                    "metadata": all_metadata
                });
                
                return json
            }

            submit_generic_response = function(raw_answer, metadata, blobs, on_success_response, on_error_response) {
                // raw_answer - an arbitrary Javascript object (not necessarily an Object) to be sent to JSON
                // blobs - optional Object, each attribute should be a blob to upload.
                //       - Note that 'json' is not a permitted name for an attribute
                json = prepare_json_submission(raw_answer, metadata);         
                
                var formData = new FormData();
                formData.append("json", json)
                
                if (blobs !== undefined) {
                    add_blobs(formData, blobs);    
                }

                var request = new XMLHttpRequest();

                request.onreadystatechange = function () {
                    if (request.readyState == 4) {
                        if (request.status == 200) {
                            console.log('Response was successfully received.');
                            on_success_response(request);
                        } else {
                            console.log('Something went wrong.');
                            on_error_response(request);
                        }
                    }
                }

                request.open("POST", "/response");
                request.send(formData);
            }
            
            return psi
        }())
    </script>

    <script>
        psynet.init_page();
        {{ init_js_vars }}
    </script>
    
{% endblock %}
