{% extends "macros.html" %}
{% include "macros/browser-detect.html" %}

{% block stylesheets %}
    {{ super() }}
    {% include "theme.html" %}

    {% for x in css %}
        <style>
            {{ x }}
        </style>
    {% endfor %}

    {% for x in css_links %}
        <link rel="stylesheet" href={{ x }}>
    {% endfor %}
{% endblock %}

{% block body %}
    {% block header %}
        <div class="header">
            {% if config.show_progress_bar %}
                <div class="progress">
                    <div id="timeline-progress-bar" class="progress-bar" role="progressbar"
                         aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100"
                         style="width:{{ progress_percentage }}%">{{ progress_percentage }}%
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}


    <div id="main-body" class="my-5 container" style="clear: both;">
        {% block main_body %}
            {{ media.media_container() }}
            {{ progress.trial_progress_display(trial_progress_display_config) }}
        {% endblock %}

        <span id="psynet-event-listener"></span>
    </div>

    {% block modals %}
        {% block comment_modal %}
            {% if config.get("leave_comments_on_every_page") %}
            <div id="comment-modal" class="modal">
                <div class="modal-content">
                    <div><span class="close">&times;</span></div>
                    <h5>{{ pgettext("timeline_comment", "Leave a comment") }}</h5>
                    <textarea id="comment-text" class="form-control" placeholder='{{ pgettext("timeline_comment", "Write a comment here") }}'></textarea>
                    <button type="button" class="btn btn-primary mt-2"
                            id="send-comment">{{ pgettext("timeline_comment", "Send comment") }}</button>
                </div>
            </div>
            {% endif %}
        {% endblock %}

        {% block alert_modal %}
            <div id="alert-modal" class="modal">
                <div class="modal-content">
                    <h3 id="alert-message"></h3>
                    <button type="button" style="max-width: 100px" class="btn btn-primary" id="alert-button">
                        {{ pgettext("alert_ok", "OK") }}
                    </button>
                </div>
            </div>
        {% endblock %}

        {% block resume_modal %}
            <div id="resume-modal" class="modal">
                <div class="modal-content">
                    <h3>{{ pgettext("timeline_resume", "Are you ready?") }}</h3>
                    <p>
                        {{ pgettext("timeline_resume", "Click the button when you're ready to continue the experiment.") }}
                    </p>
                    <p>
                        {{ pgettext("timeline_resume", "Note: if you see this message a lot, it might be because your browser has an incompatible extension installed (e.g. adblocker). Please try opening this page in an incognito window instead (you can just copy and paste the URL from the current page), and/or try manually disabling your extensions.") }}
                    </p>
                    <button type="button" style="max-width: 100px" class="btn btn-primary" id="resume-button">
                        {{ pgettext("timeline_resume", "Resume") }}
                    </button>
                </div>
            </div>
        {% endblock %}
    {% endblock %}

    {% block footer %}
        <style>
            #footer {
                background-color: rgb(49, 124, 246);
                color: white;
                margin: 0px;
                padding: 0px;
                line-height: 33px;
                border-style: none;
                {% if config.show_footer == false %} display: none; {% endif %}
            }

            #media-download-progress-bar {
                width: {{ initial_download_progress }}%;
                height: 6px;
                background-color: black;
            }

            .footer-text {
                margin: 0px;
            }

        </style>

        <nav id="footer" class="navbar fixed-bottom">
            <div id="media-download-progress-bar"></div>
                <div class="container py-2">
                    {% if config.show_reward %}
                        <div class="footer-text">
                            {{ pgettext("timeline", "Reward") }}:
                            <strong>
                                <span id="reward-details" style="display: none">
                                    {{ config.currency }}<span id="time-reward">{{ time_reward }}</span> (time) +
                                    {{ config.currency }}<span id="performance-reward">{{ performance_reward }}</span> (performance) =
                                </span>
                                <span class="fw-bold">
                                    {{ config.currency }}<span id="total-reward">{{ total_reward }}</span>
                                </span>
                            </strong>
                        </div>
                    {% endif %}

                    {% if config.get("leave_comments_on_every_page") %}
                        <button type="button" class="btn btn-light"
                                id="comment-button">{{ pgettext("timeline", "Comment") }}</button>
                    {% endif %}

                    {% if show_termination_button or (experiment.with_lucid_recruitment() and show_termination_button is none) %}
                        <button id="terminate-button" class="btn btn-danger">
                            {{ pgettext("timeline_problem", "Terminate the experiment early") }}
                        </button>
                    {% endif %}
                </div>
        </nav>
    {% endblock %}
{% endblock %}

{% block head %}
    {{ super() }}

    <script src="/static/scripts/jquery-3.7.1.min.js"></script>
    <script src="/static/scripts/JSZip/jszip.min.js"></script>

    {% for x in js_links %}
        <script src="{{ x }}"></script>
    {% endfor %}
    <script id="psynet-template-data" type="application/json">
        {{ {
            "jsVars": js_vars,
            "events": events,
            "mediaRequests": page.media.data,
            "trialProgressDisplayConfig": trial_progress_display_config,
            "assignmentId": participant.assignment_id,
            "participantId": participant.id,
            "uniqueId": participant.unique_id,
            "routes": {
                "setLocaleParticipant": "/set_locale_participant/" ~ participant.id,
                "participantOpenedDevtools": "/participant_opened_devtools/" ~ unique_id
            },
            "flags": {
                "dynamicallyUpdateProgressBarAndReward": js_vars["dynamicallyUpdateProgressBarAndReward"],
                "checkParticipantOpenedDevtools": config.check_participant_opened_devtools,
                "lucidRecruitment": experiment.with_lucid_recruitment()
            },
            "strings": {
                "commentStored": pgettext("timeline_problem", "Comment stored."),
                "pageLoadNotReady": pgettext("timeline_problem", "Please wait for the page to load.") ~ " " ~ pgettext("timeline_problem", "Try again in a couple of seconds.")
            },
            "lucid": {
                "noFocusTimeoutMs": ((experiment.recruiter.aggressive_no_focus_timeout_in_s if aggressive_termination_on_no_focus else experiment.recruiter.no_focus_timeout_in_s) * 1000) if experiment.with_lucid_recruitment() else 0,
                "noFocusTimeoutReason": ("aggressive-no-focus-timeout-" if aggressive_termination_on_no_focus else "no-focus-timeout-") if experiment.with_lucid_recruitment() else "",
                "overallTimeoutS": experiment.recruiter.termination_time_in_s if experiment.with_lucid_recruitment() else 0,
                "secondsLeft": experiment.recruiter.time_until_termination_in_s(participant.assignment_id) if experiment.with_lucid_recruitment() else 0,
                "inactivityTimeoutS": experiment.recruiter.inactivity_timeout_in_s if experiment.with_lucid_recruitment() else 0,
                "inactivityTimeoutMs": (experiment.recruiter.inactivity_timeout_in_s * 1000) if experiment.with_lucid_recruitment() else 0,
                "shouldWarnOnBeforeUnload": (not page.is_unity_page and not page.skip_beforeunload) if experiment.with_lucid_recruitment() else false
            }
        } | tojson }}
    </script>
    <script src="{{ url_for('static', filename='scripts/psynet.js') }}"></script>


{% endblock %}

{% block libs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/platform.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/survey-jquery/survey-jquery.js') }}"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        psynet.initLucidTermination();
        psynet.initPage();
    </script>

    {% for x in scripts %}
        <script>
            {{ x }}
        </script>
    {% endfor %}
{% endblock %}
