{% extends "layout.html" %}

{% macro next_button() %}
<hr>

<div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <button type="button" id="next_button" class="btn btn-success btn-lg" onClick="next_page();">Next</button>
    </div>
</div>
{% endmacro %}

{% block body %}
    {% block header %}
        <div class="header">
            {% if progress_bar.show %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar.percentage}}"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{progress_bar.percentage}}%">
                        {{progress_bar.percentage}}%
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    <div class="main_div">
        {% block main_body %}
        {% endblock %}
    </div>

    {% block footer %}
        {% if footer.show %}    
            <nav class="navbar navbar-fixed-bottom" style="padding: 8px; padding-left: 20px; padding-right: 20px; background-color: #4989C8; color: white; margin: 0px; line-height: 33px;">
                <div style="margin: 0px; display: flex; justify-content: space-between; align-items: center;">
                    {% for text in footer.text_to_show %}
                        <div style="margin: 0px">
                            {{text}}
                        </div>
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        if (dallinger.identity.participantId == undefined) {
            alert(
                "Your participant ID is undefined, perhaps because you " +
                "switched browsers during the test. " +
                "Unfortunately this behaviour is not currently supported."
            );
            throw console.error("Undefined participant ID.");
        }
    </script>

    <script>
        {{ init_js_vars }}
        var page_load_time = new Date();

        next_page = function(data=null) {
            submit_generic_response(data).done(function(response) {
                debugger
                if (response.submission == "approved") {
                    console.log("Response received successfully.");
                    dallinger.goToPage("timeline/" + dallinger.identity.participantId + "/" + dallinger.identity.assignmentId);
                } else if (response.submission == "rejected") {
                    console.log("Response rejected."); 
                    alert(response.message);
                    $(".submit-response").attr('disabled',false);
                } else {
                    throw Error("Received a malformed response.");
                }            
            }).fail(function(resp) {
                dallinger.error(resp);
            });
        // spinner.freeze([$('form :input')]);
        // xhr.done(when_done)
        }

        submit_generic_response = function(data) {
            var current_time = new Date();

            var metadata = {
                "time_taken": (current_time - page_load_time) / 1000
            };
            return dallinger.post("/response", {
                "message": JSON.stringify({
                    "participant_id": dallinger.identity.participantId,
                    "page_uuid": page_uuid,
                    "data": JSON.stringify(data),
                    "metadata": JSON.stringify(metadata)
                })
            })
        }
    </script>
{% endblock %}
