{% extends "base/layout.html" %}

{% macro next_button(next_page) %}

<hr>

<div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <button type="button" id="next_button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('{{next_page}}');">Next</button>
    </div>
</div>

{% endmacro %}

{% block scripts %}
    <script>
        {{ js_from_python }}
        next_page = function(data=null) {
            submit_response(data).done(function(resp) {
                if (response.submission == "approved") {
                    console.log("Response received successfully.");
                    dallinger.goToPage("timeline");
                } else if (response.submission == "rejected") {
                    console.log("Response rejected.");
                    alert(response.message);
                } else {
                    throw Error("Received a malformed response.");
                }            
           }).error(function(resp) {
            dallinger.error(resp);
        });
        spinner.freeze([$('form :input')]);
        xhr.done(when_done)
        }

        submit_response = function(data) {
            return dallinger.post("/response", {
                "participant_id": dallinger.identity.participantId,
                "page_uuid": page_uuid,
                "data": JSON.stringify(data)
            });
        }
    </script>
{% endblock %}