{% extends "base/layout.html" %}

{% macro next_button(next_page) %}

<hr>

<div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <button type="button" id="next_button" class="btn btn-success btn-lg" onClick="next_page();">Next</button>
    </div>
</div>

{% endmacro %}

{% block scripts %}
    {{super()}}
    <script>
        {{ init_js_vars }}
        next_page = function(data=null) {
            submit_generic_response(data).done(function(response) {
                if (response.submission == "approved") {
                    console.log("Response received successfully.");
                    dallinger.goToPage("timeline/" + dallinger.identity.participantId + "/" + dallinger.identity.assignmentId);
                } else if (response.submission == "rejected") {
                    console.log("Response rejected.");
                    alert(response.message);
                } else {
                    throw Error("Received a malformed response.");
                }            
            }).fail(function(resp) {
                dallinger.error(resp);
            }).error(function(resp) {
                dallinger.error(resp);
            });
        spinner.freeze([$('form :input')]);
        xhr.done(when_done)
        }

        submit_generic_response = function(data) {
            var metadata = {
                "time_taken": 3.0
            };
            return dallinger.post("/response", {
                "message": JSON.stringify({
                    "participant_id": dallinger.identity.participantId,
                    "page_uuid": page_uuid,
                    "data": JSON.stringify(data),
                    "metadata": JSON.stringify(metadata)
                })
            })
        }

        // post_as_json = function(url, data) {
        //     xhr = new XMLHttpRequest();
        //     xhr.open("POST", url, true);
        //     xhr.setRequestHeader("Content-type", "application/json");
        //     // xhr.onreadystatechange = function () { 
        //     //     if (xhr.readyState == 4 && xhr.status == 200) {
        //     //         var json = JSON.parse(xhr.responseText);
        //     //         console.log(json.email + ", " + json.name)
        //     //     }
        //     // }
        //     var data = JSON.stringify(data);
        //     xhr.send(data);
        // }
    </script>
{% endblock %}