{% extends "layout.html" %}

{% block main_body %}
    <h1>Welcome</h1>

    <p>Welcome to the experiment!</p>
{% endblock %}


{% block scripts %}
{{super()}}
    <script>
        dallinger.identity.participantId = "undefined";
        dallinger.createParticipant().fail(function(resp) {
            dallinger.error(resp);
        }).done(function(resp) {
            dallinger.post("/init-participant/" + dallinger.identity.participantId);
        }).error(function(resp) {
            dallinger.error(resp);
        });
    </script>
{% endblock %}
