{% macro buttons(config) %}
    <hr>
    <h4>{{ gettext("Do you understand and consent to these terms?") }}</h4>
    <br>
    <button type="button" id="consent" class="col-12 col-lg-5 btn btn-primary btn-lg" onClick="psynet.nextPage(true);"
            style="float: left;">
        {{ pgettext("consent", "I agree") }}
    </button>
    <button type="button" class="col-12 col-lg-5 btn btn-danger btn-lg" onClick="psynet.nextPage(false);"
            style="float: right;">
        {{ pgettext("consent", "No, thank you (return task)") }}
    </button>
{% endmacro %}

{% macro fixed_buttons(config) %}
    <div class="fixed-bottom consent-gradient">
        <div style="margin-top: 120px; text-align: right; white-space: nowrap;">
            {{ gettext("Scroll up/down to see all text") }} <span class="up-down-arrows">&#8645;</span>
        </div>
        {{ buttons(config) }}
    </div>
{% endmacro %}

{% macro pi(config) %}
    <h4>{{ pgettext("consent", "Principal Investigator") }}</h4>
    <p>
        Dr. Nori Jacoby,
        Max Planck Institut for Empirical Aesthetics,
        Grüneburgweg 14,
        60322 Frankfurt am Main,
        nori.jacoby@ae.mpg.de
    </p>
{% endmacro %}