{% macro null(config) %}
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button type="button" id="next_button" class="btn btn-success btn-lg submit" onclick="psynet.next_page();">Next
            </button>
        </div>
    </div>
{% endmacro %}

{% macro nafc_button(config) %}
    {% if config.own_line %} <p style="padding:1em"> {% endif %}
    <button
        type="button"
        class="btn btn-primary submit"
        id="{{ config.id }}"
        onclick="clicked_button('{{ config.id }}');"
        style="min-width:{{ config.min_width }}"
    >
    {{ config.label }}
    </button>
    {% if config.own_line %} </p> {% endif %}
{% endmacro %}

{% macro nafc(config) %}
    <div>
        {% for button in config.buttons %}
            {{ nafc_button(button) }}
        {% endfor %}
    </div>

    <script>
        clicked_button = function(id) {
            psynet.response.disable();
            psynet.submit.disable();
            psynet.next_page(id);
        }
    </script>
{% endmacro %}

{% macro slider(config) %}
    <style type="text/css">
        .slider-collection {
            margin: 30px;
        }

        .slider {
            margin: 20px;
        }

        input[type=range] {
            width: 50%;
            display: inline-block;
        }

        .slider-label {
            font-weight: bold;
            display: inline-block;
            min-width: 200px;
            text-align: right;
            margin-right: 20px;
        }

        .slider-value {
            width: 60px;
            display: inline-block;
            margin-left: 20px;
        }

    </style>

    <script>
        var init_sliders = function(){
            var slider = $('.slider'),
                range = $('.slider-range'),
                value = $('.slider-value');

            slider.each(function(){
                value.each(function(){
                    var value = $(this).prev().attr('value');
                    $(this).html(value);
                });

                range.on('input', function(){
                    $(this).next(value).html(this.value);
                });
            });
        };
        window.addEventListener("load", init_sliders);
    </script>

    <div class="slider-collection">
        {% for s in config.sliders %}
            <div class="slider">
                <span class="slider-label" style=>
                    {{ s.label }}
                </span>
                <input id="{{ s.slider_id }}" class="slider-range form-control-range response" type="range"
                            style="display: inline-block;"
                            min="{{ s.min_value }}" max="{{ s.max_value + 0.0001 * s.step_size }}"
                            step="{{ s.step_size }}" value="{{ s.start_value }}">
                <span class="slider-value">NA</span>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro audio_meter(config) %}
    <div class="audio_meter_block">
        <table style="width: 500px; padding: 10px">
            <tbody>
                <tr align="left" valign="middle">
                    <td width="300px">
                        <div style="background-color: black; width: 300px; height: 50px">
                            <canvas id="audio_meter" width="300" height="50"></canvas>
                        </div>
                    </td>
                    <td width="20px"></td>
                    <td align="left">
                        <p id="audio_meter_text" style="font-weight: bold; margin: 0px"></p>
                    </td>
                </tr>
            </tbody>
        </table>

        {% if config.calibrate %}
            {{ audio_meter_calibrate(config) }}
        {% endif %}
    </div>

    {{ null(config) }}

    <script>
        psynet.submit.wait_for("audio_meter");
        setTimeout(
            ()=> psynet.submit.ready("audio_meter"),
            1000 * {{ config.min_time }}
        );
    </script>

    <script>
        {% include "macros/control/audio_meter.js" %}

        audio_meter_control.init('{{ config.to_json() }}');
    </script>
{% endmacro %}

{% macro audio_meter_calibrate(config) %}
    <style type="text/css">
        #audio-meter-documentation {
            padding-top: 20px;
        }
    </style>

    <ul class="nav nav-tabs">
        <li><a href="#audio-meter-sliders" data-toggle="tab">Sliders</a></li>
        <li><a href="#audio-meter-documentation" data-toggle="tab">Documentation</a></li>
    </ul>

    <div class="tab-content">
        <div id="audio-meter-sliders" class="tab-pane active">
            {{ slider(config.sliders) }}
        </div>

        <div id="audio-meter-documentation" class="tab-pane">
            <p>
                The <strong>decay</strong> parameters determine the amount of smoothing
                that happens to the signal, and have units of seconds. A high decay parameter
                means that the signal takes a long time to decay (i.e. high smoothing).
                There are three decay parameters: one for the displayed audio meter,
                one for the 'too-high' detector, and one for the 'too-low' detector.
            </p>
            <p>
                The <strong>threshold</strong> parameters determine the point at which
                the volume is determined to be 'too high' or 'too low'.
            </p>
            <p>
                The <strong>grace</strong> parameters determine how long the volume must be
                outside the respective threshold for a warning message to be triggered.
            </p>
            <p>
                The <strong>message duration</strong> parameters determine how long
                warning messages are displayed for.
            </p>
        </div>
    </div>

    <script>
        setInterval(() => audio_meter_control.update_from_sliders(), 50);
    </script>
{% endmacro %}
