{% macro simple(config) %}
    {% if config.text is not none %}
        <style>
            #prompt-text {
                text-align: {{ config.text_align }};
            }
        </style>

        <div id="prompt-text">
            {{ config.text }}
        </div>
    {% endif %}
{% endmacro %}

{% macro audio(config) %}
    {{ simple(config) }}

    <script>
        var audio_prompt_player_options = {{ config.js_play_options | tojson }};
    </script>

    {% if config.controls %}
        <style>
            #audio-prompt-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 25px;
            }
            .audio-prompt-button {
                margin-left: 10px;
                margin-right: 10px;
            }
            #audio-prompt-loop {
                margin-left: 10px;
                margin-right: 10px;
            }
        </style>

        <div id="audio-prompt-controls">
            <button id="audio-prompt-play" type="button" class="btn audio-prompt-button btn-primary btn-sm" disabled>
                Play from start
            </button>
            <button id="audio-prompt-stop" type="button" class="btn audio-prompt-button btn-secondary btn-sm" disabled>
                Stop
            </button>
            <div id="audio-prompt-loop">
              <input id="audio-prompt-loop-input" type="checkbox" value="" id="flexCheckChecked" {% if config.loop %} checked {% endif %}>
              <label id="audio-prompt-loop-label" for="flexCheckChecked">
                Loop
              </label>
            </div>
        </div>

        <script>
        /*
            psynet.media.register_on_loaded_routine(function() {
                $(".audio-prompt-button").prop("disabled", false)
                $("#audio-prompt-play").on("click", function() {
                    psynet.media.stop_all_audio();
                    let sound = psynet.audio.prompt.play(audio_prompt_player_options);
                    debugger
                    sound.source.addEventListener("ended", () => {
                        debugger
                    }); //psynet.trial.registerEvent("audioPromptEnd"));
                });
                $("#audio-prompt-stop").on("click", function() {
                    psynet.media.stop_all_audio();
                });
                $("#audio-prompt-loop-input").on("change", function(event) {
                    audio_prompt_player_options.loop = event.target.checked;
                });
            })
         */
        </script>
    {% endif %}

    <script>
        psynet.trial.onEvent("audioPromptStart", function() {
            let sound = psynet.audio.prompt.play(audio_prompt_player_options);
            sound.source.addEventListener("ended", function() {
                psynet.trial.registerEvent("audioPromptEnd");
            });
        })

    </script>
{% endmacro %}

{% macro video(config) %}
    {{ simple(config) }}
    <video id="prompt_video" src="{{ config.url }}" style="width: {{ config.width }}" alt="Video not found" controls></video>
    <script>
        psynet.media.register_on_loaded_routine(function() {
            var options = {{ config.js_play_options | tojson }};
            psynet.log.debug(options)
            var visual = document.getElementById('prompt_video');
            visual.play()
            psynet.trial.registerEvent("videoPlayStart");

            visual.addEventListener("ended", function() {
                psynet.trial.registerEvent("videoPromptEnd");
            });
        });
    </script>
{% endmacro %}


{% macro image(config) %}
    <style>
        #prompt_image {
            width: {{ config.width }};
            height: {{ config.height }};
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: {{ config.margin_top}};
            margin-bottom: {{ config.margin_bottom}};
        }
    </style>

    <img id="prompt_image" src="{{ config.url }}" alt="Image not found">

    {% if config.hide_after is not none %}
        <script>
            var prompt_image = $("#prompt_image").get(0);

            hide_prompt_image = function() {
                psynet.log.debug("Hiding prompt image.");
                prompt_image.style.opacity = 0;
            }

            hide_prompt_image_countdown = function() {
                psynet.log.debug("Counting down until prompt image hide...");
                setTimeout(hide_prompt_image, {{ 1000 * config.hide_after }});
            }

            if (prompt_image.complete) {
                hide_prompt_image_countdown();
            } else {
                prompt_image.addEventListener("load", hide_prompt_image_countdown);
            }
        </script>
    {% endif %}

    {{ simple(config) }}
{% endmacro %}

{% macro colour(config) %}
    <style>
        .colour-box-container {
            display: flex;
            justify-content: center;
        }
        .colour-box {
            width: 200px;
            height: 200px;
            margin: 0px;
            border-style: solid;
            border-color: black;
            background-color: hsl({{ config.hsl[0] }}, {{ config.hsl[1] }}%, {{ config.hsl[2] }}%);
        }
    </style>

    <div class="colour-box-container">
        <div class="colour-box"></div>
    </div>

    {{ simple(config) }}
{% endmacro %}

{% from "macros/graphics.html" import graphic_%}
{% macro graphic(config) %}
    {{ simple(config) }}
    {{ graphic_(config) }}
{% endmacro %}
