{% macro simple(config) %}
    {% if config.text is not none %}
        <style>
            #prompt-text {
                text-align: {{ config.text_align }};
            }
        </style>

        <div id="prompt-text">
            {{ config.text }}
        </div>
    {% endif %}
{% endmacro %}

{% macro audio(config) %}
    {{ simple(config) }}

    <script>
        var audioPromptPlayerOptions = {{ config.js_play_options | tojson }};
    </script>

    {% if config.controls %}
        <style>
            #audio-prompt-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 25px;
            }
            .audio-prompt-button {
                margin-left: 10px;
                margin-right: 10px;
            }
            #audio-prompt-loop {
                margin-left: 10px;
                margin-right: 10px;
            }
        </style>

        <div id="audio-prompt-controls">
            <button id="audio-prompt-play" type="button" class="btn audio-prompt-button btn-primary btn-sm" disabled>
                Play from start
            </button>
            <button id="audio-prompt-stop" type="button" class="btn audio-prompt-button btn-secondary btn-sm" disabled>
                Stop
            </button>
            <div id="audio-prompt-loop">
              <input id="audio-prompt-loop-input" type="checkbox" value="" {% if config.loop %} checked {% endif %}>
              <label id="audio-prompt-loop-label" for="audio-prompt-loop-input">
                Loop
              </label>
            </div>
        </div>

        <script>
        psynet.trial.onEvent("trialConstruct", function() {
            $(".audio-prompt-button").prop("disabled", false)
            $("#audio-prompt-play").on("click", function() {
                psynet.media.stop_all_audio();
                let sound = psynet.audio.prompt.play(audioPromptPlayerOptions);
                sound.source.addEventListener("ended", () => {
                    psynet.trial.registerEvent("promptEnd");
                });
            });
            $("#audio-prompt-stop").on("click", function() {
                psynet.media.stop_all_audio();
            });
            $("#audio-prompt-loop-input").on("change", function(event) {
                audioPromptPlayerOptions.loop = event.target.checked;
            });
        });
        </script>
    {% endif %}

    <script>
        psynet.trial.onEvent("promptStart", function() {
            let sound = psynet.audio.prompt.play(audioPromptPlayerOptions);
            sound.source.addEventListener("ended", function() {
                psynet.trial.registerEvent("promptEnd");
            });
        })

    </script>
{% endmacro %}

{% macro video(config) %}
    {{ simple(config) }}

    <style>
        #prompt-video-container {
            display: flex;
            justify-content: center;
        }
        #prompt-video {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    </style>

    <div id="prompt-video-container">
        <video id="prompt-video" src="{{ config.url }}" style="width: {{ config.width }}" alt="Video not found" controls></video>
    </div>

    <script>
        let options = {{ config.js_play_options | tojson }};
        let loop = options.loop;
        let startAt = options.start_at;
        let muted = options.muted;
        let controls = options.controls;
        let hideWhenFinished = options.hide_when_finished;

        let videoPlayer = document.getElementById('prompt-video');
        videoPlayer.muted = muted;
        videoPlayer.controls = controls;

        let hideVideo = function() {
            videoPlayer.style.visibility = "hidden";
        }
        let showVideo = function() {
            videoPlayer.style.visibility = "visible";
        }

        hideVideo();

        psynet.trial.onEvent("trialPrepare", () => {
            videoPlayer.currentTime = startAt;
        });
        psynet.trial.onEvent("promptStart", () => {
            showVideo();
            videoPlayer.play();
        });
        videoPlayer.addEventListener("ended", () => {
            psynet.trial.registerEvent("promptEnd");
        });
        psynet.trial.onEvent("promptEnd", () => {
            videoPlayer.pause();
            if (hideWhenFinished) {
                hideVideo();
            }
        });
    </script>
{% endmacro %}


{% macro image(config) %}
    <style>
        #prompt-image {
            width: {{ config.width }};
            height: {{ config.height }};
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: {{ config.margin_top}};
            margin-bottom: {{ config.margin_bottom}};
            opacity: 0;
        }
    </style>

    <img id="prompt-image" src="{{ config.url }}" alt="Image not found">

    <script>
        let promptImage = $("#prompt-image").get(0);

        psynet.trial.onEvent("trialConstruct", () => {
            if (!promptImage.complete) {
                psynet.waitForEventListener(promptImage, "load");
            }
        });
        psynet.trial.onEvent("promptStart", () => promptImage.style.opacity = 1);
        psynet.trial.onEvent("promptEnd", () => promptImage.style.opacity = 0);
    </script>

    {{ simple(config) }}
{% endmacro %}

{% macro color(config) %}
    <style>
        .color-box-container {
            display: flex;
            justify-content: center;
        }
        .color-box {
            width: 200px;
            height: 200px;
            margin: 0px;
            border-style: solid;
            border-color: black;
            background-color: hsl({{ config.hsl[0] }}, {{ config.hsl[1] }}%, {{ config.hsl[2] }}%);
        }
    </style>

    <div class="color-box-container">
        <div class="color-box"></div>
    </div>

    {{ simple(config) }}
{% endmacro %}

{% from "macros/graphics.html" import graphic_%}
{% macro graphic(config) %}
    {{ simple(config) }}
    {{ graphic_(config) }}
{% endmacro %}
