dallinger[docker] @ git+https://github.com/Dallinger/Dallinger.git@fa8f0d23640f29072dbe9455c56821542127be0c
psynet @ git+https://gitlab.com/PsyNetDev/PsyNet.git@test-deployments/prolific-manual-recruiter

# Alternatively, you can use one of the following syntaxes to specify a custom PsyNet version
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@v10.4.0#egg=psynet
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@45f317688af59350f9a6f3052fd73076318f2775#egg=psynet
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@45f31768#egg=psynet
