.tag-container {
    display: inline-block;
}

.tag-item {
    float: left;
    border-radius: 0.25rem;
    overflow: hidden;
    font-weight: bold;
}

.tag-item .btn {
    border: none;
    overflow: hidden;
}

.tag-item .btn-group > .btn:not(:first-child) {
    margin: 0;
}

.tag-name {
    font-size: 3em;
    color: white;
    padding: 0 0.5em;
}

.icon {
    width: 2em;
    height: 2em;
}


.flag {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-flag-fill" viewBox="0 0 16 16"%3E%3Cpath d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/%3E%3C/svg%3E') no-repeat;
    background-position: center;
}

.star {
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3Csvg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"%3E%3Cstyle type="text/css"%3E.st0%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Cg%3E%3Cpolygon class="st0" points="8,2.6 9.8,6.1 13.7,6.7 10.8,9.5 11.5,13.4 8,11.5 4.5,13.4 5.2,9.5 2.3,6.7 6.2,6.1 "/%3E%3C/g%3E%3C/svg%3E');
}

path {
    fill: #fff;
}

.badge {
    font-size: 3em;
}

.media-item {
    display: flex;
    margin: 0em 1em 1em 0em;
    column-gap: 1em;
}