.main-body {
    background-color: white;
    padding: 30px;
}

.color-box-container {
    display: flex;
    justify-content: center;
}

.color-box {
    width: 200px;
    height: 200px;
    margin: 0;
    border-style: solid;
    border-color: black;
    background-color: white;
}
