psynet@git+https://psynet:DbsyggsVovh7UJTtxRtC@gitlab.com/PsyNetDev/psynet#egg=psynet
repp@git+https://repp:tvKi4cirMxgnuf9s4Vma@gitlab.com/computational-audition-lab/repp@master#egg=repp
reppextension@git+https://reppextension:s_Ux2u-2emzHPK4kVq6g@gitlab.com/computational-audition-lab/repp-technology/reppextension#egg=reppextension
tapping_extract@git+https://tapping_extract:NbfgRMYEujzRimHySJnV@gitlab.com/computational-audition-lab/tapping-mvp/tapping_extract@2dd9364524198685354bc511aac3055a796d9f99#egg=tapping_extract
matplotlib
