-e git+https://tapping_extract:NbfgRMYEujzRimHySJnV@gitlab.com/computational-audition-lab/tapping-mvp/tapping_extract@2dd9364524198685354bc511aac3055a796d9f99#egg=tapping_extract
dallinger
praat-parselmouth
urllib3
docopt
matplotlib
scipy
